<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>Bigshop premium HTML5 & CSS3 Template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Customizable CSS -->
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Assets/css/rateit.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-select.min.css">
    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,700,800,900" rel="stylesheet">
</head>
<body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">
        <!-- ============================================== TOP MENU ============================================== -->
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-wishlist.html">Wishlist</a></li>
                            <li><a href="shopping-cart.html">My Cart</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.cnt-account -->
                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">AZN</a></li>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">Azerbaijani </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Azerbaijani</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 logo-holder">
                        <div class="logo"> <a href="home.html"> <img src="~/Assets/images/logo.png" alt="logo"> </a> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 top-search-holder">
                        <div class="search-area">
                            <form>
                                <div class="control-group">
                                    <ul class="categories-filter animate-dropdown">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories <b class="caret"></b></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="menu-header">Computer</li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Desktops</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Electronics</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Monitors</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Tablets</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <input class="search-field" placeholder="Search here..." />
                                    <a class="search-button" href="#"></a>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 animate-dropdown top-cart-row">
                        <div class="dropdown dropdown-cart">
                            <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                                <div class="items-cart-inner">
                                    <div class="basket">
                                        <img src="~/Assets/images/cart.png" alt="">
                                        <span>My cart</span>
                                    </div>
                                    <div class="basket-item-count"><span class="count">2</span></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="cart-item product-summary">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="image"> <a href="detail.html"><img src="~/Storage/images/products/cart.jpg" alt=""></a> </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <h3 class="name"><a href="detail.html">Simple Product</a></h3>
                                                <div class="price">$600.00</div>
                                            </div>
                                            <div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="clearfix cart-total">
                                        <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$600.00</span> </div>
                                        <div class="clearfix"></div>
                                        <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown yamm-fw"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a> </li>
                                    <li class="dropdown yamm mega-menu">
                                        <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Men</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Dresses</a></li>
                                                                <li><a href="category.html">Shoes </a></li>
                                                                <li><a href="category.html">Jackets</a></li>
                                                                <li><a href="category.html">Sunglasses</a></li>
                                                                <li><a href="category.html">Sport Wear</a></li>
                                                                <li><a href="category.html">Blazers</a></li>
                                                                <li><a href="category.html">Shirts</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Women</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Handbags</a></li>
                                                                <li><a href="category.html">Jwellery</a></li>
                                                                <li><a href="category.html">Swimwear </a></li>
                                                                <li><a href="category.html">Tops</a></li>
                                                                <li><a href="category.html">Flats</a></li>
                                                                <li><a href="category.html">Shoes</a></li>
                                                                <li><a href="category.html">Winter Wear</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Boys</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Toys & Games</a></li>
                                                                <li><a href="category.html">Jeans</a></li>
                                                                <li><a href="category.html">Shirts</a></li>
                                                                <li><a href="category.html">Shoes</a></li>
                                                                <li><a href="category.html">School Bags</a></li>
                                                                <li><a href="category.html">Lunch Box</a></li>
                                                                <li><a href="category.html">Footwear</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Girls</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Sandals </a></li>
                                                                <li><a href="category.html">Shorts</a></li>
                                                                <li><a href="category.html">Dresses</a></li>
                                                                <li><a href="category.html">Jwellery</a></li>
                                                                <li><a href="category.html">Bags</a></li>
                                                                <li><a href="category.html">Night Dress</a></li>
                                                                <li><a href="category.html">Swim Wear</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="~/Storage/images/banners/top-menu-banner.jpg" alt=""> </div>
                                                        <!-- /.yamm-content -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu">
                                        <a href="category.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electronics <span class="menu-label hot-menu hidden-xs">hot</span> </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Laptops</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Gaming</a></li>
                                                                <li><a href="category.html">Laptop Skins</a></li>
                                                                <li><a href="category.html">Apple</a></li>
                                                                <li><a href="category.html">Dell</a></li>
                                                                <li><a href="category.html">Lenovo</a></li>
                                                                <li><a href="category.html">Microsoft</a></li>
                                                                <li><a href="category.html">Asus</a></li>
                                                                <li><a href="category.html">Adapters</a></li>
                                                                <li><a href="category.html">Batteries</a></li>
                                                                <li><a href="category.html">Cooling Pads</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Cameras</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Accessories</a></li>
                                                                <li><a href="category.html">Binoculars</a></li>
                                                                <li><a href="category.html">Telescopes</a></li>
                                                                <li><a href="category.html">Camcorders</a></li>
                                                                <li><a href="category.html">Digital</a></li>
                                                                <li><a href="category.html">Film Cameras</a></li>
                                                                <li><a href="category.html">Flashes</a></li>
                                                                <li><a href="category.html">Lenses</a></li>
                                                                <li><a href="category.html">Surveillance</a></li>
                                                                <li><a href="category.html">Tripods</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Mobile Phones</h2>
                                                            <ul class="links">
                                                                <li><a href="category.html">Apple</a></li>
                                                                <li><a href="category.html">Samsung</a></li>
                                                                <li><a href="category.html">Lenovo</a></li>
                                                                <li><a href="category.html">Motorola</a></li>
                                                                <li><a href="category.html">LeEco</a></li>
                                                                <li><a href="category.html">Asus</a></li>
                                                                <li><a href="category.html">Acer</a></li>
                                                                <li><a href="category.html">Accessories</a></li>
                                                                <li><a href="category.html">Headphones</a></li>
                                                                <li><a href="category.html">Memory Cards</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"><a href="#"><img alt="" src="~/Storage/images/banners/banner-side.png"></a> </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.yamm-content -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown hidden-sm"> <a href="category.html">Health & Beauty <span class="menu-label new-menu hidden-xs">new</span> </a> </li>
                                    <li class="dropdown hidden-sm"> <a href="category.html">Watches</a> </li>
                                    <li class="dropdown"> <a href="category.html">Jewellery</a> </li>
                                    <li class="dropdown"> <a href="category.html">Shoes</a> </li>
                                    <li class="dropdown"> <a href="category.html">Kids & Girls</a> </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages</a>
                                        <ul class="dropdown-menu pages">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-menu">
                                                            <ul class="links">
                                                                <li><a href="home.html">Home</a></li>
                                                                <li><a href="category.html">Category</a></li>
                                                                <li><a href="detail.html">Detail</a></li>
                                                                <li><a href="shopping-cart.html">Shopping Cart Summary</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="sign-in.html">Sign In</a></li>
                                                                <li><a href="my-wishlist.html">Wishlist</a></li>
                                                                <li><a href="product-comparison.html">Product-Comparison</a></li>
                                                                <li><a href="faq.html">FAQ</a></li>
                                                                <li><a href="404.html">404</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- /.navbar-nav -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->
        </div>
    </header>
    <!-- ============================================== HEADER : END ============================================== -->
    <div class="body-content outer-top-bd">
        <div class="container">
            <div class="x-page inner-bottom-sm">
                <div class="row">
                    <div class="col-md-12 x-text text-center">
                        <h1>404</h1>
                        <p>We are sorry, the page you've requested is not available. </p>
                        <form role="form" class="outer-top-vs outer-bottom-xs">
                            <input placeholder="Search" autocomplete="off">
                            <button class="  btn-default le-button">Go</button>
                        </form>
                        <a href="home.html"><i class="fa fa-home"></i> Go To Homepage</a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
        </div><!-- /.container -->
    </div><!-- /.body-content -->
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg">
        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding copyright">
                    <span>
                        © 2018 Epost.  All rights reserved.
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li><img src="~/Assets/images/payments/1.png" alt=""></li>
                            <li><img src="~/Assets/images/payments/3.png" alt=""></li>
                            <li><img src="~/Assets/images/payments/4.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================================================= FOOTER : END============================================================= -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/echo.min.js"></script>
    <script src="~/Assets/js/jquery.easing-1.3.min.js"></script>
    <script src="~/Assets/js/bootstrap-slider.min.js"></script>
    <script src="~/Assets/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/lightbox.min.js"></script>
    <script src="~/Assets/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/js/wow.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
</body>
</html>

